*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Urbanist', sans-serif; 
}

.cardHighlight {
  min-height: 100%; /* adjust the height of the cards */
}

.banner-paragraph{
  font-size: 20px;
 margin: 10px;
}

.font-link-bold {
  font-weight: bold;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.prod-card {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  /*height: 400px;*/
  box-shadow: 0px 0px 10px #bbbbbb;
  transition: 0.3s;
  animation: ease-in-out;
}

.prod-card:hover{
  transform:  scale(1.1);
  box-shadow: 0px 0px 15px #bbbbbb;
}